trigger:
  branches:
    include:
      - "*"   # all branches

pool:
  name: Default   # your self-hosted Windows agent 

stages:
- stage: peer_review_file_generation
  displayName: "Peer Review File Generation"

  jobs:
  - job: SimDiff_PeerReview
    displayName: "Generate SimDiff Peer Review File"

    steps:
    - checkout: self
      fetchDepth: 2 #fetch previous commit
    
    # ============ Invoke SimDiff to Produce a Peer Review File ===============
    - powershell: |
        echo Comparing with SimDiff...
        python .\diff.py reports HEAD~1 HEAD
      displayName: "Run SimDiff comparison (Powershell)"

    # ============ Publish Artifact ===============
    - publish: $(System.DefaultWorkingDirectory)/reports
      artifact: SimDiff_Peer_Review_Files
      displayName: "Publish SimDiff Peer Review Files"
